.signupcolor{
    background-color: #056777;
}
@media screen and (min-width: 1024px) {
    .img1 {
        display: block;
    }
    .img2 {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .img2 {
        display: block;
    }
    .img1 {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    #searchbar {
        display: block;
    }
    #browse {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    #searchbar {
        display: none;
    }
    #browse {
        display: block;
    }
}

@media screen and (max-width: 860px) {
    #services { 
        display: none;
    }
    #hamburger{
        display: flex;
        align-items: center;
    }
    #ham{
        display: flex;
        justify-content: end;

    }
}

@media screen and (min-width: 860px) {
    #services {
        display: flex;
    }
    #hamburger{
        display: none;
    }
    #browse{
        display: none;
    }
    #ham{
        display: none;
    }
}